.cell {
  width: 60px;
  height: 60px;
  border: 2px solid black;
  display: table-cell;
  background-color: forestgreen;

  text-align: center;
  line-height: 56px;
  font-size: 24px;
  user-select: none;

  .cell-wrapper {
    width: 100%;
    height: 100%;
    float: left;
    transition: all 0.25s linear;

    &.can-move {
      opacity: 0.7;
      background-color: yellowgreen;

      &:hover {
        background-color: yellow;
      }
    }
  }

  &.forest0 {
    background-color: #07520a;
  }

  &.forest1 {
    background-color: forestgreen;
  }
}