.cell {
  width: 60px;
  height: 60px;
  border: 2px solid black;
  display: table-cell;

  text-align: center;
  line-height: 56px;
  font-size: 24px;
  user-select: none;

  &.forest0 {
    background-color: #07520a;
  }

  &.forest1 {
    background-color: forestgreen;
  }

  &:hover {
    background-color: yellowgreen;
  }
}