.progress {
  position: relative;
  width: 100%;
  border: 2px solid black;
  background-color: #4d5450;

  .progress-text {
    position: absolute;
    width: 100%;
    text-align: center;
  }

  .progress-inner {
    height: 22px;
    background-color: #5a0d0d;
    transition: all 0.15s linear;
  }
}